.header {
    background-color: #2c302e;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.header-content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.header-content-right {
    display: flex;
    flex-direction: row;
}

.header-content-left-logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-content-left-logo-section-logo {
    width: 43px;
    height: 43px;
}

.header-content-left-logo-section-logo img {
    width: 100%;
    height: 100%;
}

.header-content-left-logo-section-name {
    color: #fffffa;
}

.header-content-left-search {
    width: 300px;
    height: 25px;
    background-color: #fffffa;
    border-radius: 10px;
}

.header-content-left-search-list {
    height: 50px;
    margin-left: -360px;
    margin-top: 100px;
    z-index: 100;
}

.header-content-left-search-list-item {
    height: 50px;
    width: 310px;
    background-color: #fffffa;
    border: 1px solid #2c302e;
}

.header-content-left-search-list-item a {
    color: black;
    text-decoration: none;
}

.header-content-left-search-list-item-a {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: -5px;
}

.header-content-left-search-list-item-name {
    font-size: 20px;
}

.header-content-left-search-list-item-position {
    font-size: 15px;
    color: gray;
}
