.page {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 30px;
}

.page-info-photo {
    background-color: black;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    flex-shrink: 0;
}

.page-info-photo img {
    width: 100%;
    height: 100%;
}

.page-info-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.page-info-data-post {
    margin-top: -10px;
}

.page-info-data-status {
    background-color: #fe4d4d;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-row span {
    font-size: 20px;
    max-width: 50%;
}

.page-calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-calendar-data {
    width: 100%;
    height: 100px;
    border: 2px solid #2c302e;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.page-calendar-data-panel {
    background-color: #2c302e;
    width: 151px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.page-calendar-data-panel h6 {
    color: #fffffa;
    padding-right: 10px;
}

.page-calendar-button {
    width: 100%;
    height: 45px;
    background-color: #fffffa;
    border: 2px solid #2c302e;
    border-radius: 15px;

    font-size: 25px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.page-calendar-button:hover {
    cursor: pointer;
    background-color: #2c302e;
    transition: background-color 0.2s;
    color: #fffffa;
}

.page-calendar-data-space {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-calendar-data-space-line {
    height: 100%;
    border-right: #2c302e 1px dashed;
}

.page-calendar-data-space-meeting {
    position: absolute;
    height: 80%;     
    background-color: #2c302e;
    border-radius: 5px;
}
